body{
    background-color:#28323f;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container{
    margin: 0 auto;
    text-align: center;
    box-shadow: 10px 8px 11px 0px rgba(129, 129, 129, 0.58);
    background-color:#ffffff;
    width: 430px;
    height: 330px;
}

.mark{
    width: 90px;
    margin: 0px;
}

p.title{
    text-transform: uppercase;
    margin: 0px;
    font-weight: bold;
    font-size: 28px;
}

p.subtitle{
    margin-top: 20px;
    margin-bottom: 25px;
    font-weight: bolder;
    font-size: 18px;
}

.btn {
    display: flex;
    color: #fff;
    height: 10px;
    margin: 0 auto;
    padding: 20px;
    width: 30px;
    transition: ease 0.5s;
    align-items: center;
    font-weight: bold;
    box-shadow: 10px 8px 11px 0px rgba(50, 50, 50, 0.58);
    font-size: 18px;
    border-style: solid;
    text-decoration: none;
    background: #384658;
}

.btn:hover{
    display: flex;
    color: #fff;
    height: 10px;
    margin: 0 auto;
    padding: 20px;
    width: 30px;
    transition: ease 0.5s;
    align-items: center;
    font-weight: bold;
    box-shadow: 10px 8px 11px 0px rgba(50, 50, 50, 0.58);
    font-size: 18px;
    border-style: solid;
    text-decoration: none;
    background: #222b36;
}

a.email{
    color: #0e478d;
    text-decoration: underline;
}